/* Page index.html */
body{
    background-color: #c7c7c7;
}


.main{
    background-color: white;
    margin-top: 80px;
    margin-left: 15%;
    width: 70%;
    height: 70%;
}


/*Affichage des questions*/
.titreMain{
    display:inline-block;
    color: black;
    margin-left: 34%;
    margin-top:2%;
}

.p1Main, .textQAS{
    color: black;
    margin-left: 3%;
}

.p2Main{
    color: black;
    margin-left: 5%;
}

.radioMain{
    color: black;
    margin-left: 10%;
    margin-bottom: 1%;
}

.boutonVerif{
    margin-left: 80%;
    background-color:white;
    color:black;
}

/*Barre de navigation*/
.spacer{
    flex: 1;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #818181;
    color: white;
    font-weight: 600;
}

.btn-accueil{
    margin: 3% 3%;
}

.btn-lire,.btn-ecrire, .btn-compter{
  margin-left: 3%;
}

/* Page exerciceLire.html */

.diff{
    background-color: white;
    margin-top: 7%;
    margin-left: 15%;
    width: 70%;
    height: 70%;
}

.btn-diff{
    margin: 3% 40%;
}

.txt-diff{
    float:left;
    margin-left: 33%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.btn-facile, .btn-moyen, .btn-difficile{
    margin-left: 3%;
    margin-bottom: 5%;
}

.picture {
    width: 250px;
    margin-left: 37%;
    margin-top:2%;
}


.boutonimage{
    width: 25px;
}

.text {
    text-align: center;  
}